In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df=pd.read_csv('homeprices (1).csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
import math
median=math.floor(df['bedrooms'].median())
median

4

In [15]:
df['bedrooms']=df['bedrooms'].fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
#y= m1*x1 + m2*x2 + m3*x3 + b
              # where m1, m2, m3 are co-efficients 
#Independent variables are----
              # area=x1
              # bedrooms= x2
              # age = x3

In [21]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms', 'age']], df.price)

LinearRegression()

In [24]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [25]:
reg.intercept_

221323.00186540408

In [27]:
reg.predict([[3400,5,20]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([654645.3466857])

In [30]:
#predicted price of area 3400, 5 bedrooms and age of 20 years

predicted_price = 112.06244194*3400 + 23388.88007794*5 + -3231.71790863*20 + 221323.00186540408
predicted_price

654645.3466785041