### Read data from income.csv and scale the relevant features using standardization

In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('income.csv')
df.head()

      Name  Age  Income  Buy
0      Rob   27   70000  Yes
1  Michael   29   90000   No
2    Mohan   29   61000  Yes
3   Ismail   28   60000  Yes
4     Kory   42  150000   No

In [16]:
X = df[['Age', 'Income']]
X.head()

   Age  Income
0   27   70000
1   29   90000
2   29   61000
3   28   60000
4   42  150000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    22 non-null     object
 1   Age     22 non-null     int64
 2   Income  22 non-null     int64
 3   Buy     22 non-null     object
dtypes: int64(2), object(2)
memory usage: 836.0+ bytes

In [18]:
df.describe()

             Age         Income
count  22.000000      22.000000
mean   34.818182   90431.818182
std     5.901060   43505.964412
min    26.000000   45000.000000
25%    29.000000   58500.000000
50%    36.500000   67500.000000
75%    39.750000  135250.000000
max    43.000000  162000.000000

# Standardisation

In [ ]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [13]:
X_after_standardisation = std.fit_transform(X)
X_after_standardisation

array([[-1.35605536, -0.48068427],
       [-1.00915747, -0.01015907],
       [-1.00915747, -0.69242061],
       [-1.18260641, -0.71594687],
       [ 1.24567876,  1.40141653],
       [ 0.72533193,  1.51904783],
       [ 1.07222982,  1.63667914],
       [ 0.55188299,  1.68373166],
       [ 0.20498511,  1.54257409],
       [ 0.03153617,  0.93089133],
       [ 0.37843405,  1.09557515],
       [-1.5295043 , -1.06884077],
       [-1.35605536, -0.99826199],
       [-1.18260641, -0.92768321],
       [-1.00915747, -0.9629726 ],
       [-0.48881065, -0.88063069],
       [ 0.89878087, -0.59831557],
       [ 1.07222982, -0.64536809],
       [ 1.4191277 , -0.62184183],
       [ 0.72533193, -0.24542167],
       [ 1.07222982, -0.19836915],
       [ 0.72533193, -0.76299939]])